.bg-cover-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
  mask-image: linear-gradient(
    0.5turn,
    transparent,
    black 40%,
    black 60%,
    transparent
  );
}